#wrapper
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					-if current_user.first_name.blank?
						=link_to "Add your details", edit_user_registration_path, class:"btn btn-primary"
					%h1.page-header
						Dashboard
						%small Statistics Overview
					%ol.breadcrumb
						%li.active
							%i.fa.fa-dashboard
							Dashboard
