=simple_form_for @invoice do |f|
	=render 'shared/error_messages', obj: @invoice
	.row
		.col-md-6
			.form-inline.form-field
				=f.input :name, class:"form-control", label:false, input_html:{value:"INVOICE"}
			=f.input :description, class:"form-control", label:false, placeholder:"Add description..."
		.col-md-4.col-md-offset-2
			=current_user.company_logo
	%hr/
	.row
		.col-md-12
			.form-inline
				=f.input :invoice_number, class:"form-control", label:"Invoice No.", input_html: {value: "#INV_"}
				=f.input :currency, class:"form-control", placeholder:"Add currency..."
	%hr/
	.row
		.col-md-4
			%h5 From:
			%p=current_user.first_name + " " + current_user.last_name
			%p=current_user.address
			%p=current_user.postal_code + " " + current_user.city
			%p=current_user.country
			=link_to "Edit business profile", edit_user_registration_path, target:"_blank", class:"edit-bussines-profile"
			
		.col-md-4
			%h5 To:
			.dropdown.form-group
				=collection_select(:invoice, :client_id, Client.all, :id, :company_name, {prompt:"Select Client"}, {class:"dropdown-toggle btn btn-default form-control"})
			=f.input :date, as: :string, class:"form-control", id:"invoice_date", placeholder:"Select Date"
			.dropdown.form-group
				=f.select(:invoice_due, @invoice_due_list.map{ |value| [value, value] },{prompt:"Payment method"}, class:"dropdown-toggle btn btn-default form-control")

	%hr/
	.row
		.col-md-3
			%h5 Item
		.col-md-3
			%h5 Price
		.col-md-3
			%h5 Qty
		.col-md-3
			%h5 Amount
	%hr/
	.row
		.col-md-12
			=f.simple_fields_for :items do |item|
				=render 'item_fields', f: item
			.links
				=link_to_add_association 'Add Item', f, :items, class:"btn btn-success"

	%hr/
	.row
		.col-md-6.col-md-offset-6
			.subtotal
				%h5 Subtotal
				.subtotal-value 0.00
				%hr/
			=f.input :tax, class:"form-control"
		
			.total.well
				%h5 Total
				.total-value 0.00

	%hr/
	.row
		.col-md-12
			=f.input :invoice_note, class:"form-control"
			=f.button :submit, class:"btn btn-success"
			=link_to "Cancel", invoices_path, class:"btn btn-default"