.nested-fields
	.row
		.container-fluid.row-hover
			.col-md-3.form-item
				=f.input :name, class:"form-control",label: false, placeholder:"Item name & description"
			.col-md-2.form-item
				=f.input :qty, class:"form-control", id:"invoice-item-qty", label: false, placeholder: "Quantity"
			.col-md-3.form-item
				=f.input :rate, class:"form-control", label: false, placeholder: "Rate / Price", id:"invoice-item-rate"
			.col-md-3.form-item
				=f.input :amount, class:"form-control", label: false, placeholder:"Amount", id:"invoice-item-amount"
			.col-md-1.text-right
				=link_to_remove_association 'Remove', f, class:"btn btn-danger"
	%hr/