.row.nested-fields
	.col-md-3.form-item
		=f.input_field :name, class:"form-control name",label: false, placeholder:"Item name & description"
	.col-md-2.form-item
		=f.input_field :rate, class:"form-control rate text-right",label: false, placeholder: "Rate / Price"
	.col-md-3.form-item
		=f.input_field :qty, class:"form-control qty text-right", label: false, placeholder: "Quantity"
	.col-md-3.form-item
		=f.input_field :amount, class:"form-control amount text-right", label: false, placeholder:"Amount"
	.col-md-1.text-right
		=link_to_remove_association 'Remove', f, class:"btn btn-danger"