#wrapper
	#page-wrapper
		.col-lg-12
			.panel.panel-default
				.panel-heading
					%h4.text-center New Invoice
				.panel-body
					=render 'invoices/form'
:javascript
	$(document).ready(function(){
		$('#invoice_date').datepicker({
			format: "dd MM, yyyy"
		});
	})
	