=simple_form_for @client do |f|
	=f.input :company_name, class:"form-control"
	=f.input :first_name, label: "Client First Name", class:"form-control"
	=f.input :last_name, label: "Client Last Name", class:"form-control"
	=f.input :email, label: "Client Email Address", class:"form-control"
	=f.input :website, label: "Client Website", class:"form-control"
	=f.input :address, class:"form-control"
	.form-inline
		.form-group
			=f.input :postal_code, class:"form-control"
			=f.input :city, class:"form-control"
			=f.input :country, as: :string, class:"form-control"
	=f.input :phone, class:"form-control"
	=f.button :submit, class:"btn btn-success"
