#wrapper
	#page-wrapper
		.row
			.col-lg-12
				.panel.panel-default
					.panel-heading
						%h2.clients-heading Clients section
						=link_to "New Client", new_client_path, class:"btn btn-success"
					.panel-body
						%table.table.table-striped.clients.table-hover
							%thead
								%tr
									%th Company Name
									%th Client Name
									%th Client Email
									%th Website
									%th Phone number
							%tbody
								-@clients.each do |client|
									%tr
										%td=client.company_name
										%td=client.first_name + " " + client.last_name
										%td=client.email
										%td=client.website
										%td=client.phone

:javascript
	$('.clients').DataTable();






